/vendor/
/composer.lock
php/.idea


# Only project- and language-specific ignores in here. Use global .gitignore for editors etc
# Nothing in here yet
#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


###################
## SBT build target
###################

target/